.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-main {
    background: #3c3c3c;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    max-width: 800px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .modal-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .modal-book{
    margin: 15px 10px;
    padding: 10px;
    width: 106px;
    height: 106px;
    background-color: #2c2c2c;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  